<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharding.dao.SysMapper">

    <insert id="add">
        INSERT INTO sys (
          uuid, sys_url, original_url
        )
        VALUES (
        #{uuid},
        #{sysUrl},
        #{originalUrl}
        )
    </insert>

    <select id="findByUuid" resultType="com.example.sharding.model.Sys">
        SELECT * FROM sys WHERE uuid=#{uuid};
    </select>

    <select id="total" resultType="java.lang.Long">
        select count(*) from sys
    </select>


</mapper>
